<div class="color">
    <div id="banner" class="reduced">
        <div class="logo">
            <a href="#/">
                <img src="template/images/logo.png" alt="logo">
            </a>
        </div>
        <div class="title">
            <h3>Mickaël Villers</h3>
            <h4> Développeur Web et Applicatif </h4>
            <p>
                <em>« Un métier, une passion »</em>
            </p>
        </div>
    </div>
</div>
<div class="container content row">
    <div class="col s12 m10 offset-m1 l8 offset-l2 grey lighten-4 z-depth-1">
        <div class="row">
            <div class="col s12 m12 l12 light-blue bordered-light-blue-darken-2 b-w-4 b-bottom white-text">
                <h4 class="page-title">Me contacter</h4>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12 l12 grey darken-2 bordered-grey-darken-3 b-w-4 b-bottom white-text">
                <h5 class="page-sub-title">Via differents réseaux sociaux</h5>

            </div>

            <p class="col col m4 s12 offset-m1">
                <a href="https://twitter.com/villersm" target="_blank"><i class="fa fa-twitter fa-2x" title="Twitter"></i> @villersm</a><br>
                <a href="https://github.com/villers" target="_blank"><i class="fa fa-github fa-2x" title="Github"></i> Github</a><br>
                <a href="https://www.linkedin.com/profile/view?id=343022101" target="_blank"><i class="fa fa-linkedin fa-2x" title="LinkedIn"></i> Linkedin</a><br>
            </p>
             <p class="col col m6 s12">
                <a href="tel:0637835881" target="_blank"><i class="fa fa-phone fa-2x" title="Phone"></i> 06.37.83.58.81</a><br>
                <a href="mailto:mickael.villers@epitech.eu" target="_blank"><i class="fa fa-envelope-o fa-2x" title="Email"></i> mickael.villers@epitech.eu</a><br>
            </p>
        </div>
       <!--  <div class="row">
            <div class="col s12 m12 l12 grey darken-2 bordered-grey-darken-3 b-w-4 b-bottom white-text">
                <h5 class="page-sub-title">Par e-mail</h5>
            </div>
        </div>
        <div class="row">

            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="first_name" type="text" required>
                        <label for="first_name">Prénom</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="last_name" type="text" required>
                        <label for="last_name">Nom</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" required>
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea></textarea>
                        <label>Message</label>
                    </div>
                </div>
                <div class="col s12 m12 l12">
                    <a class="btn-block blue">Envoyer un message</a>
                </div>
            </form>
        </div> -->
    </div>
</div>
<script>
    $('document').form();
</script>
