<div class="color">
    <div id="banner" class="reduceds">
        <div class="centered">
            <div class="logo">
                <a href="#/">
                    <img src="template/images/logo.png" alt="logo">
                </a>
            </div>
            <div class="title">
                <h3>Mickaël Villers</h3>
                <h4>Développeur Web et Applicatif</h4>
                <p>
                    <em>« Un métier, une passion »</em>
                </p>
            </div>
        </div>
    </div>
</div>
