<div class="color">
    <div id="banner" class="reduced">
        <div class="logo">
            <a href="#/" >
                <img src="template/images/logo.png" alt="logo" />
            </a>
        </div>
        <div class="title">
            <h3>Mickaël Villers</h3>
            <h4> Développeur Web et Applicatif </h4>
            <p>
                <em>« Un métier, une passion »</em>
            </p>
        </div>
    </div>
</div>
<div class="container content row">
    <div class="col s12 m12 l3 grey darken-3  z-depth-1">
        <div class="row profil">
            <div class="col s3 m12 l12 center">
                <img  class="avatar bordered-grey-darken-2 b-w-4" src="template/images/photos.jpg" alt="avatar">
            </div>
            <div class="col s9 m12 l12 white-text detail">

                <h5>Mickael Villers, 24 ans</h5>
                <h6> Véritable passionné de développement et de nouvelles technologies.</h6>
                <blockquote>Mes années d'auto-formation et mes projets réalisés en autodidacte m'ont permis d'acquérir une bonne expérience du web et des technologies qui y sont rattachées (administration serveur LAMP/MAMP/ISS, référencement, Framework PHP/JS, gulp, yeoman).</blockquote>
                <blockquote>
                    Sport: plongé, éscalade, ski<br>
                    Langues: anglais technique
                </blockquote>

            </div>

        </div>
        <div class="col s12 m12 l12">
            <a class="dl" href="CV-VILLERS-Mickael.pdf">
                <div class="front">
                    Télécharger mon C.V.
                </div>
                <div class="back">
                    <div class="progress">
                    </div>
                    <i class="mdi-content-save"></i>
                </div>
            </a>
        </div>
    </div>
    <div class="col s12 m12 l9 grey lighten-2">
        <div class="row">
            <div class="col s12 m12 l12 deep-orange darken-2 bordered-deep-orange-darken-4 b-w-4 b-bottom white-text">
                <h4 class="page-title">Mon Profil</h4>
            </div>
        </div>
        <div class="timeline">
            <div class="timeline">
                <ul>
                    <li>
                        <div class="category">
                            <span>Expériences professionnelles</span>
                        </div>
                    </li>
                    <li>
                        <time class="date" datetime="2014"><span>2014</span></time>
                        <div class="timeline-icon"><a class="dot-link"><i class="mdi-action-polymer"></i></a></div>
                        <div class="description">
                            <h2>Developpement &amp; Integration Web</h2>
                            <p>Avril 2014 à aujourd’hui: Réalisation de projets (personnels ou groupés)<br>
                                • <a href="https://github.com/villers" title="github">Code de mes projets</a>
                            </p>
                        </div>
                    </li>
                    <li>
                        <time class="date" datetime="2013"><span>2013</span></time>
                        <div class="timeline-icon"><a class="dot-link"><i class="mdi-action-polymer"></i></a></div>
                        <div class="description">
                            <h2>Création d'Applications Android</h2>
                            <p>
                                • 2013: <a href="https://play.google.com/store/apps/details?id=com.ghota.spi0n" title="spi0n.com">Application spi0n</a> Permet de lire le site au format mobile<br>
                                • 2012: Application domotique pour contrôler sa maison
                            </p>
                        </div>
                    </li>
                    <li>
                        <time class="date" datetime="2013"><span>2013</span></time>
                        <div class="timeline-icon"><a class="dot-link"><i class="mdi-action-polymer"></i></a></div>
                        <div class="description">
                            <h2>Serveur de Jeu Privé (Ragnarok)</h2>
                            <p>• De 2006 à 2013: Développement et administration d'un serveur de jeu privé fonctionnant sous debian</p>
                        </div>
                    </li>
                    <li>
                        <time class="date" datetime="2011"><span>2011</span></time>
                        <div class="timeline-icon"><a class="dot-link"><i class="mdi-action-polymer"></i></a></div>
                        <div class="description">
                            <h2>Stagiaire, Infojef Informatique</h2>
                            <p>• De Mai à Juillet 2011 : Maintenance informatique, Création d’un site web</p>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li>
                        <div class="category">
                            <span>Formations</span>
                        </div>
                    </li>
                    <li>
                        <time class="date" datetime="2014"><span>2014</span></time>
                        <div class="timeline-icon"><a class="dot-link"><i class="mdi-action-polymer"></i></a></div>
                        <div class="description">
                            <h2>WebAcademie, Developpeur / Integrateur Web</h2>
                            <small>Epitech, Lyon</small>
                            <p>• De Avril 2014 à aujourd'hui</p>
                        </div>
                    </li>
                    <li>
                        <time class="date" datetime="2012"><span>2012</span></time>
                        <div class="timeline-icon"><a class="dot-link"><i class="mdi-action-polymer"></i></a></div>
                        <div class="description">
                            <h2>BTS Informatique et Réseaux pour l'industrie et les Services</h2>
                            <small>Lycee Jean Mermoz, Saint-Louis</small>
                            <p>• De Septembre 2010 à Juillet 2012</p>
                        </div>
                    </li>
                    <li>
                        <time class="date" datetime="2010"><span>2010</span></time>
                        <div class="timeline-icon"><a class="dot-link"><i class="mdi-action-polymer"></i></a></div>
                        <div class="description">
                            <h2>Baccalaureat STI Electrotechnique</h2>
                            <small>Lycee Jean Mermoz, Saint-Louis</small>
                            <p>• De Septembre 2007 à Juillet 2010</p>
                        </div>
                    </li>
                    <li>
                        <time class="date" datetime="2006"><span>2006</span></time>
                        <div class="timeline-icon"><a class="dot-link"><i class="mdi-action-polymer"></i></a></div>
                        <div class="description">
                            <h2>Brevet National Des Colleges</h2>
                            <p>• Septembre 2006</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>